.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.imageWrapper {
  width: 100%;
  line-height: 0;
}

.infoWrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1px auto;
  row-gap: 14px;
  padding: 24px 12px 12px 12px;
  background-color: var(--color-background-default);
  width: 100%;
}

.name {
  grid-row: 1;
  font-size: 18px;
  line-height: 1;
  margin-left: 0;
  margin-bottom: 10px;
  min-height: 60px;
}

.button {
  grid-row: 1;
  margin-right: 0;
  margin: auto;
  margin-right: 0;
}

.line {
  grid-column: 1 / -1;
  background-color: var(--color-primary-dark);
  height: 1px;
  width: 100%;
}

.description {
  grid-row: 3;
  font-size: 12px;
  margin-left: 0;
}

.date {
  grid-row: 3;
  font-size: 12px;
}

.icon {
  stroke: var(--color-text-primary);
}

@media (min-width: 768px) {
  .name {
    font-size: 20px;
    min-height: 70px;
  }

  .description {
    font-size: 14px;
  }

  .date {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  .name {
    font-size: 24px;
    min-height: 80px;
  }

  .description {
    font-size: 16px;
  }

  .date {
    font-size: 16px;
  }
}
