.container {
  display: block;
  padding-top: 36px;
}

.title {
  font-size: 28px;
  padding-bottom: 24px;
  padding-right: 0;
  text-transform: uppercase;
}

.description {
  text-align: justify;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-areas: "title line description";
    padding-top: 100px;
  }

  .line {
    grid-area: line;
    width: 1px;
  }

  .title {
    grid-area: description;
    font-size: 36px;
    padding-bottom: 0px;
    padding-left: 10px;
  }

  .description {
    grid-area: title;
    padding-right: 65px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-top: 124px;
  }

  .title {
    padding-left: 130px;
  }

  .description {
    padding-right: 160px;
  }
}
