@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  grid-template-rows: auto 48px auto;
  padding-top: 36px;
  text-transform: uppercase;
}

.title {
  grid-column: 1 / -1;
  padding: 20px;
  font-size: 28px;
  text-align: center;
}

.divider {
  grid-column: 2;
  background: var(--color-primary-dark);
  width: 1px;
}

.counter {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 24px;
}

.counterGrid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Oswald";
  line-height: 1;
}

.counterNumber {
  color: var(--color-primary-dark);
  font-size: 48px;
  font-weight: 600;
  animation: fadeIn 0.5s ease-out;
}

.counterUnit {
  font-size: 24px;
}

@media (min-width: 768px) {
  .gridContainer {
    grid-template-rows: auto 87px auto;
    padding-top: 100px;
  }

  .title {
    font-size: 36px;
  }

  .counterNumber {
    font-size: 100px;
  }

  .counterUnit {
    font-size: 28px;
  }

  .divider {
    height: 87px;
  }
}

@media (min-width: 1280px) {
  .gridContainer {
    padding-top: 122px;
  }

  .title {
    font-size: 48px;
  }

  .counterNumber {
    font-size: 164px;
  }

  .counterUnit {
    font-size: 48px;
  }

  .counter {
    margin-top: 17px;
  }
}
