.group {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
}

.item {
  cursor: pointer;
  transition: stroke 0.3s ease;
}

.darkMode {
  stroke: var(--color-text-primary);
}

.darkMode:hover {
  stroke: var(--color-menu-icon-light);
}

.lightMode {
  stroke: var(--color-white-100);
}

.lightMode:hover {
  stroke: var(--color-menu-icon-light);
}
