.container {
  position: fixed;

  width: calc(100% - 40px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr auto;

  background-color: var(--color-white-25);
  backdrop-filter: blur(0.8px);
  -webkit-backdrop-filter: blur(0.8px);
  padding-top: 20px;
}

.navLogo {
  text-align: left;
  margin: 0px;
  max-width: 290px;
}

.nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0;
  text-align: center;
}

.navHidden {
  display: none;
}

.navPosition {
  position: fixed;
  width: calc(100% - 40px);
  z-index: 1000;
  overflow-y: auto;
}

.navSubPosition {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navHidenSubPosition {
  backdrop-filter: blur(0.8px);
  -webkit-backdrop-filter: blur(0.8px);
}

@media (min-width: 460px) {
  .container {
    width: 460px;
  }

  .navPosition {
    width: 460px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .nav {
    gap: 20px;
  }

  .navHidden {
    display: inline-block;
  }

  .navPosition {
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 403px 365px;
    gap: 0;
  }
  .navSubPosition {
    width: 365px;
  }

  .navHidenSubPosition {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1240px;
  }

  .navPosition {
    grid-template-columns: 875px 365px;
    top: 0px;
  }
}
