/* .fixed {
  position: fixed;
} */

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
  align-items: center;
  max-width: 460px;
  padding-top: 36px;
  position: relative;
}

.nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0;
  text-align: center;
}

.navLogo {
  text-align: left;
  margin: 0px;
  max-width: 290px;
}

.navHidden {
  display: none;
}

.navPosition {
  position: absolute;
  top: 36px;
  right: 0px;
  width: 100%;
  z-index: 1000;
  overflow-y: auto;
}

.navSubPosition {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.navHidenSubPosition {
  backdrop-filter: blur(0.8px);
  -webkit-backdrop-filter: blur(0.8px);
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .nav {
    gap: 20px;
  }

  .navHidden {
    display: inline-block;
  }

  .navPosition {
    display: grid;
    grid-template-columns: auto 365px;
    gap: 0;
  }

  .navSubPosition {
    width: 365px;
  }

  .navHidenSubPosition {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-top: 24px;
  }

  .navPosition {
    top: 24px;
  }
}
