.card {
  text-align: left;
}

.imageContainer {
  width: 148px;
  height: 168px;
}

.name {
  padding-top: 8px;
  font-size: 18px;
}

.position {
  color: var(--color-text-secondary);
}

@media (min-width: 768px) {
  .name {
    font-size: 20px;
  }

  .imageContainer {
    width: 159px;
    height: 168px;
  }
}

@media (min-width: 1280px) {
  .imageContainer {
    width: 274px;
    height: 290px;
  }
}
